
/Input/build/
/build/
/Input/nbproject/private/
/GUI/nbproject/private/
/nbproject/private/
/SerialComm/nbproject/private/
/SerialComm/build/
/JSON/build/
=======
/GUI/build/
/GUI/nbproject/private/

/nbproject/private/
/Input/nbproject/private/
/GUI/nbproject/private/
/SerialComm/nbproject/private/
/JSON/nbproject/private/
/build/
/Input/build/
/GUI/build/
/SerialComm/build/
/JSON/build/